/*seletor universal*/
* {
    margin: 0;
}


html, body{

    --black:hsl(240, 6%, 13%);
    --gray:hsl(240, 9%, 89%); /*cor-saturaçao-luz da cor*/
    
    height: 100%;
    font-family: 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased; /*suavizar a cor da fonte*/
}

body {
    
    display: grid;
    place-items: center;
}

main {
    
     background: url(images/background.svg) no-repeat center/cover; /*não repetir imagem, alinhar conteúdo ao centro, cobrir todo o fundo*/
    width: 100vw; /*vw é pegar a largura total da tela e preencher tudo*/
    min-height: 812px; /*altura minima*/
    height: 100vw; /*altura normal*/


}

.container {
 
    max-width: 250px; /*largura máxima*/
    margin-left: auto; /*colocando tudo ao centro usando o espaçamento das margens*/
    margin-right: auto;
    text-align: center; /*alinhando tudo ao centro*/

    color:var(--gray);
}
   
.avatar {
    width: 10rem; /*largura*/
    margin: 11.5rem auto 0; 
    /* 0 0 0 0 = top-light-right-left*/

    position:relative;
}

.avatar span{

    position: absolute; /*sobrepor uma imagem á outra*/
    top: -15px;
    z-index: 1; /*trabalha o posicionamento do eixo z, nesse caso o clip-path tirou a propriedade absolute e assim ela volta*/
}

.avatar > img { /* > vai procurar a img do primeiro nível*/
 
   width: 10rem;
   height: 11.5rem;
   object-fit: cover; /*para a img se adaptar dentro da largura e altura q/ eu definir*/
   
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); /*para criar o efeito do poligono na img, ela ficar nesse formato de poligono*/
}

h1 {

    font-size: 1.5rem;

    /*vamos separar os textos em pequenas distâncias*/
    margin-top: 1.5rem;


}

a {
    color: var(--gray);
    text-decoration:  none;

    /*alinhamento dos elementos*/
    display:flex;
    gap: 0.75rem;

    justify-content: center;
    align-items: center;

    /*vamos separar os textos em pequenas distâncias*/
    margin-top: 0.25rem;
    
}

p {
     /*vamos separar os textos em pequenas distâncias*/
    margin-top: 2rem;
}

ul {
     /*vamos separar os textos em pequenas distâncias*/
     margin-top: 3rem;

    
     list-style: none; /*tira as marcações das listas q/ vem por padrão*/
     padding: 0;
   
     display: flex; /*um elemento ao lado do outro*/
     gap: 0.5rem; /*espaço entre os elementos*/
   
     justify-content: center; /*alinhamento central*/ 
     /*opção liberada graças ao display:flex*/

}

/*se usa a % como medida flexível, além dela tem o rem*/
/*padding é um preenchimento da caixa*/
